:root {
  --prm-contact: #757575;

  --hero-bg: #2f303a;
  --btn-bg-active: #2196f3;
  --btn-bg-standby: #f5f4fa;
  --filter-text-on: #ffffff;
  --filter-text-off: #212121;
  --accent-color: #2196f3;

  --header-item: #212121;
  --header-item-active: #2196f3;

  --projects-title-color: #212121;
  --projects-item-color: #757575;
  --team-bg-color: #f5f4fa;

  --footer-bg: #2f303a;
}

body {
  font-family: "open sans", "sans-serif";
  font-family: Roboto;
  font-style: normal;
}

/******------HEADER------*******/

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.primary-contact:hover,
.primary-contact:focus {
  color: var(--filter-text-on);
  background: var(--btn-bg-active);
  cursor: pointer;
}
.contact-list {
  list-style: none;
  color: var(--prm-contact);
}
.nav-item {
  font-weight: normal;
  font-size: 14px;
}
.primary-contact {
  /*font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;*/
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--prm-contact);
}
.nav-link {
  /*font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;*/
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-item);
}

/*******-------STUDIO-----***********/

/*----------gallery-----------*/

.hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-section {
  text-align: center;
  background: var(--hero-bg);
}
/*-----button in HERO-----*/
.primary-btn {
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.base-skills {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
}
.skills-list {
}
.skills {
}
.skills-title {
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.skills-subtitle {
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*.doing {
}
.doing-list {
}
.doing-item {
}
.doing-img {
}*/

.team {
  background-color: var(--team-bg-color);
  /*width: 200;*/
}
/*.team-list {
}
.team-item {
}
.team-mate {
}*/
.team-mate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-mate-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

/*******стили для странички Портфолио***********/

/*************filter************/

.filter {
}
.secondary-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.secondary-btn:hover,
.secondary-btn:focus {
  color: var(--filter-text-on);
  background: var(--btn-bg-active);
  cursor: pointer;
}

.filter-item {
  background-color: var(--btn-bg-standby);
}
.filter-item:hover {
  color: var(--btn-bg-active);
}

.filter-link {
  text-decoration: none;
  color: var(--filter-text-off);
}

.projects-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--projects-title-color);
}

.projects-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--projects-item-color);
}

/*----------FOOTER----------*/
.footer {
  background: var(--footer-bg);
  width: 200;
}

.map-link,
.mail-link,
.tel {
  /*font-family: Roboto;*/
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.map-link {
  color: rgb(255, 255, 255);
}
