html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-color: #212121;
  --primary-shade-color: #2f303a;
  --primary-shade2-color: #757575;

  --accent-color: #2196f3;

  --secondary-color: #ffffff;
  --secondary-shade-color: #f5f4fa;
  --secondary-shade2-color: rgba(255, 255, 255, 0.6);
}

/* Убираем внешние отступы */
h1,
h2,
h3,
h4,
p,
ul,
li {
  /*outline: 1px dotted teal;*/
  margin: 0;
}

body {
  /*font-family: "sans-serif";-----emergecy fonts*/
  font-family: Roboto;
  font-style: normal;
  margin: 0;
}

.header {
  /*background-color: yellowgreen;*/
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/******------HEADER------*******/
.navigation {
  margin-left: 93px;
}
.nav-list {
  display: flex;
}
.nav-container {
  display: flex;
  align-items: center;
}
.web-logo {
  color: var(--accent-color);
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.link {
  text-decoration: none;
  margin: 0;
}

.primary-contact:hover,
.primary-contact:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.contact-list {
  display: flex;
  margin-left: auto;
  /*justify-content: space-between;*/
  padding-left: 0;
  list-style: none;
  color: var(--primary-shade2-color);
}
.nav-item {
  margin-top: 32px;
  margin-right: 50px;
  margin-bottom: 32px;
  font-weight: normal;
}
.primary-contact {
  margin-left: 50px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-shade2-color);
}
.nav-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.studio:visited {
  color: var(--accent-color);
}
.portfolio:visited {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/*******-------STUDIO-----***********/

/*----------gallery-----------*/

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin: 0 auto 30px;

  color: var(--secondary-color);
}
.hero-section {
  padding: 200px 452px 280px;
  text-align: center;
  background-color: var(--primary-shade-color);
}

/*-----button in HERO-----*/
.primary-btn {
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  padding: 10px 32px;
  border-radius: 8px;

  letter-spacing: 0.06em;
  color: var(--secondary-color);
  cursor: pointer;
}

.base-skills {
  padding-top: 94px;
  padding-bottom: 94px;
}
.skills-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.skills-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-shade2-color);
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.doing {
  padding-bottom: 94px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-shade-color);
}
.team-mate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.team-mate-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-shade2-color);
}

/*******П О Р Т Ф О Л И О***********/

/*************filter************/

.secondary-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.secondary-btn:hover,
.secondary-btn:focus {
  color: var(--secondary-color);
  background: var(--accent-color);
  cursor: pointer;
}

.filter-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /*:not(:last-child):after */
}
.filter-btn {
  padding-top: 94px;
  padding-bottom: 0px;
}

.filter-item {
  margin: 8px;
}
.filter-item:hover {
  color: var(--accent-color);
}

.filter-link {
  text-decoration: none;
  color: var(--primary-color);
}

.projects {
  padding-top: 50px;
  padding-bottom: 94px;
}

.wrap {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}
.wrap-text {
  padding: 20px 24px;
}

.projects-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.projects-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-shade2-color);
}

/*----------FOOTER----------*/
.footer {
  background: var(--primary-shade-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.white-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.address {
  margin-top: 20px;
}

.map-link,
.secondary-contact-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-shade2-color);
}
.map-link {
  color: var(--secondary-color);
}
.map-link:hover,
.secondary-contact-link:hover,
.map-link:focus,
.secondary-contact-link:focus {
  color: var(--accent-color);
}
